{% extends 'base.html' %}

{% block extra_head %}
    <!-- Plaid Integration -->
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
{% endblock %}

{% block content %}
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/dashboard">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" style="height: 30px;">
            </a>
            <div class="ml-auto">
                <button class="btn btn-outline-secondary mr-2">
                    <i class="fas fa-life-ring"></i> Support
                </button>
                <button id="link-button" class="btn btn-outline-secondary mr-2">
                    <i class="fas fa-university"></i> Connect Institution
                </button>
                <div class="dropdown d-inline-block mr-2">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="notificationsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="notificationsMenu">
                        <a class="dropdown-item" href="#">No new notifications</a>
                    </div>
                </div>
                <div class="dropdown d-inline-block">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> Avila, Manuel
                    </button>
                    <div class="dropdown-menu" aria-labelledby="profileMenu">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#profileModal">Edit Profile</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#myConnectionsModal" @click="fetchModalBanks">My Connections</a>
                        <a class="dropdown-item" href="{{ url_for('views.logout') }}">Log out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row" id="vue-app">
            <!-- Left Sidebar: Connected Banks -->
            <div class="col-lg-2 bg-light sidebar">
                <div class="sidebar-sticky pt-3">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Connected Banks</span>
                    </h6>                    
                    <ul class="nav flex-column">
                        <li class="nav-item" v-for="bank in banks" :key="bank.id" :class="{ 'selected-bank': bank.id === selectedBankId }"
                        >                            
                            <a class="nav-link" href="#" @click="toggleBankSelection(bank.id)">
                                [[ bank.institution_name ]]
                            </a>
                        </li>
                    </ul>                 
                </div>
            </div>
        
            <!-- Main content: Accounts -->
            <main role="main" class="col-lg-8">
                <div class="card mb-3" v-for="account in accounts" :key="account.id">
                    <div class="card-body">
                        <h5 class="card-title">[[ account.name ]]</h5>
                        <h6 class="card-subtitle mb-2 text-muted">...[[ account.mask ]]</h6>
                        <p class="card-text">[[ account.type | capitalize ]] - [[ account.subtype | capitalize ]]</p>
                    </div>
                </div>
            </main>
        
            <!-- Right Sidebar: Help -->
            <div class="col-lg-2 bg-light border-left">
                <div id="help-sidebar" class="bg-light border-left">
                    <div class="sidebar-sticky pt-3">
                        <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
                            <span>Help & Support</span>
                        </h6>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#helpItem1" role="button" aria-expanded="false" aria-controls="helpItem1">
                                    Help Topic 1
                                </a>
                                <div class="collapse" id="helpItem1">
                                    <div class="card card-body">
                                        Detailed information about Help Topic 1.
                                    </div>
                                </div>
                            </li>
                            <!-- More help topics... -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- My Connections Modal -->
            <div class="modal fade" id="myConnectionsModal" tabindex="-1" role="dialog" aria-labelledby="myConnectionsModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myConnectionsModalLabel">My Connections</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li v-for="bank in banks" :key="bank.id" class="list-group-item d-flex justify-content-between align-items-center">
                                    <span class="bank-name">[[ bank.institution_name ]]</span>
                                    <button class="btn btn-danger btn-sm" @click="removeBank(bank)">Remove</button>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel">Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ url_for('views.dashboard') }}" method="post">
                    {{ form.hidden_tag() }}
                    <div class="modal-body">
                        <div class="form-group">
                            {{ form.username.label }}
                            {{ form.username(class='form-control') }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class='form-control') }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }}
                            {{ form.password(class='form-control') }}
                        </div>
                        <div class="form-group">
                            {{ form.confirm_password.label }}
                            {{ form.confirm_password(class='form-control') }}
                        </div>
                        <!-- Token Fields -->
                        <div class="form-group">
                            {{ form.token.label }}
                            {{ form.token(class='form-control') }}
                        </div>
                        <div class="form-group">
                            {{ form.regenerate_token(class='btn btn-primary') }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ form.submit(class='btn btn-primary') }}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/vuePlaid.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if modal_open %}
                $('#profileModal').modal('show');
            {% endif %}

            // Check if the my connections modal should be open
            {% if connections_modal_open %}
                $('#myConnectionsModal').modal('show');
            {% endif %}
        });
    </script>   
{% endblock %}

