{% extends 'base.html' %}

{% block content %}
    <div class="container h-100" style="margin-top: 50px;">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-lg-6 text-center">
                <h1>Password Reset Email Sent</h1>
                <p>Please check your email for instructions to reset your password. If you do not see the email in your inbox, please check your spam folder.</p>
                <p>If you need further assistance, please contact support.</p>
                <a href="https://exmint.me/app{{ suffix }}" class="btn btn-primary" target="_top">Go to App</a>
            </div>
        </div>
    </div>
{% endblock %}
