{% extends 'base.html' %}

{% block content %}
    <h1>Profile Page</h1>
    <form method="POST" action="/profile">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} {{ form.username }}
        </div>
        <div>
            {{ form.email.label }} {{ form.email }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <!-- Add other form fields and buttons -->
        <div>
            {{ form.submit }}
            {{ form.generate_token }}
            {{ form.regenerate_token }}
            {{ form.delete_token }}
        </div>
    </form>
{% endblock %}
